#top
{
   margin-bottom:50px;
}

#topLeft
{
   float:left;
   width: 40%;
   margin-left:5%;
   display: inline-block;
}

#topRight
{
   float:right;
   width: 40%;
   margin-right:5%;
   display: inline-block;
   vertical-align:top;
}

#bottom
{
   border:1px solid black;
   clear:both;
   margin: auto;
   width: 90%;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}

#map {
   height: 400px;  /* The height is 400 pixels */
   width: 90%;  /* The width is the width of the web page */
}

/* Texty */
.title{
    color: black;
	text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}
.info_left{
    color: black;
	text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
	padding-left: 40px;
}

.img_padding {
   padding-left: 10px;
}

.box {
   display: flex;
   align-items:center;
   margin-bottom: 30px;
}

/* Form */
.formtext{
    color: black;
	text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.formcontent{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button[type=submit] {
    width: 100%;
    background-color: #a04e1c;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #b37700;
}

.formfield{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Footer */
.footer-distributed {
      display: none;
}